body {
  margin: 0;
  text-align: center;
  font-size: 100%;
  font-family: 'Marvel', sans-serif;
}

h1 {
  margin: 0;
  font-size: 5.625rem;
  font-family: 'Ultra', serif;
  color: #66BFBF;
}

h2 {
  font-family: 'Reem Kufi', sans-serif;
  color: #66BFBF;
}

h3{
  color:#11999E;
}

img {
  background-color: #EAF6F6;
}

p{
  line-height: 1;
}

a{
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.atas {
  background-size: cover;
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  color:#40514E;
}

.intro{
  width: 30%;
  margin: auto;
}

.bawah{
  background-color: #66BFBF;
  position: absolute;
  width: 100%;
  color: #EAF6F6;
  padding: 50px 0 20px;
}

.copyright{
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 80px;
  top: 40px;
}

.botom-cloud {
  position: absolute;
  left: 90px;
  bottom: 300px;
}

.logo {
  position: absolute;
  left: 50px;
}

.back {
  font-size: 200%;
  position: absolute;
  left: 1200px;
}

.btn {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #30e3cb 100%);
	background-color:#2bc4ad;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Marvel', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.btn:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.btn:active {
	position:relative;
	top:1px;
}
